<template>
  <transition name="vueget-edit-modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <h2 slot name="header">
              Edit
              <button class="modal-default-button uk-button" @click="$emit('close')">
                X
              </button>
            </h2>
          </div>

          <div class="modal-body">
              <template v-for="column of columns">
                <template v-if="column.type.toLowerCase() === 'string' && column.editable">
                  <div class="form-input-container">
                    <label>
                      {{ column.name | capitalize }}
                      <input type="text" :name="column.name" :value="select[column.name]">
                    </label>
                  </div>
                </template>
                <!--http://stackoverflow.com/questions/22983013/how-to-get-html-5-input-type-date-working-in-firefox-and-or-ie-10-->
                <template v-else-if="column.type.toLowerCase() === 'date' && column.editable">
                  <div class="form-input-container">
                    <label>
                    {{ column.name | capitalize }}
                    <datepicker :value="new Date(select[column.name])"></datepicker>
                    </label>
                  </div>
                </template>

                <template v-else-if="column.type.toLowerCase() === 'number'&& column.editable">
                  <div class="form-input-container">
                    <label>
                      {{ column.name | capitalize }}
                      <input type="number" :name="column.name" :value="select[column.name]">
                    </label>
                  </div>
                </template>

                <template v-else-if="column.type.toLowerCase() === 'tel'&& column.editable">
                  <div class="form-input-container">
                    <label>
                      {{ column.name | capitalize }}
                      <input type="tel" :name="column.name" :value="select[column.name]">
                    </label>
                  </div>
                </template>

                <template v-else-if="column.type.toLowerCase() === 'email'&& column.editable">
                  <div class="form-input-container">
                    <label>
                      {{ column.name | capitalize }}
                      <input type="email" :name="column.name" :value="select[column.name]">
                    </label>
                  </div>
                </template>

                <template v-else-if="column.type.toLowerCase() === 'checkbox'&& column.editable">
                  <div class="form-input-container">
                    <label :for="column.name+'Checkbox'"> {{ column.name | capitalize }} </label>
                    <input :id="column.name+'Checkbox'" type="checkbox" :name="column.name" :value="select[column.name]" :checked="select[column.name]">
                  </div>
                </template>
              </template>

              <button @click="submit">submit</button>
              <button @click="$emit('close')">close</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import Datepicker from 'vuejs-datepicker'

  export default {
    name: 'vueget-edit-modal',
    components: {Datepicker},
    props: ['columns', 'selected'], // todo always get the first selected if more than one then create empty inputs
    data () {
      return {
        updated: {},
        select: this.selected.length > 1 ? this.selected[this.selected.length - 1] : this.selected[0]
      }
    },
    filters: {
      capitalize: function (value) {
        if (!value) return ''
        value = value.toString()
        return value.charAt(0).toUpperCase() + value.slice(1)
      }
    },
    methods: {
      submit: function () {
        console.log(this.updated) // todo implement me send data via post
      }
    }
  }
</script>

<style>

  /* Todo add media screen make container 100% w/h for mobile*/
  /*@media screen and (max-width: 960px) {
    .modal-container {
      margin: 0px auto;
      width: 90% !important;
      height: 90% !important;
    }
  }*/

  .modal-mask {
    position: absolute;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, .5);*/
    display: block;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    vertical-align: middle;
  }

  .modal-container {
    width: 60%;
    /*height: 100%;*/
    z-index: 9999;
    padding: 2em;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    max-height: calc(100vh - 0em); /*Where 2em is the padding*/
    overflow-y: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left: 0;
    right: 0;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    float: right;
  }

  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


  label {
    font-weight: bold;
  }

  .modal-mask .datepicker input,
  .modal-mask input[type=text],
  .modal-mask input[type=date],
  .modal-mask input[type=tel],
  .modal-mask input[type=number],
  .modal-mask input[type=email] {
    display: block;
    width: 100%;
    text-align: left;
    padding: .5em;
  }

  .form-input-container {
    margin-bottom: 1em;
  }
</style>
