<template>
  <transition name="vueget-confirmation-modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <h2 slot name="header">
              Delete
              <button class="modal-default-button uk-button" @click="$emit('close')">
                X
              </button>
            </h2>
          </div>

          <div class="modal-body">
            <h3>Delete {{ selected.length }} item(s)?</h3>
            <div class="modal-control">
              <button @click="deleteItems()">delete</button>
              <button @click="cancel()">cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'vueget-confirmation-modal',
    props: ['selected'],
    data () {
      return {}
    },
    methods: {
      deleteItems () {
        this.$parent.didClickBatchDelete()
        this.$emit('close')
      },
      cancel () {
        this.$emit('close')
      }
    }
  }
</script>

<style scoped>
  /* Todo add media screen make container 100% w/h for mobile*/
  /*@media screen and (max-width: 960px) {
    .modal-container {
      margin: 0px auto;
      width: 90% !important;
      height: 90% !important;
    }
  }*/
  .modal-mask {
    position: absolute;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, .5);*/
    display: block;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    vertical-align: middle;
  }
  .modal-container {
    width: 300px;
    height: 200px;
    z-index: 9999;
    padding: 2em;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    max-height: calc(100vh - 0em); /*Where 2em is the padding*/
    overflow-y: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left: 0;
    right: 0;
  }
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  .modal-body {
    margin: 20px 0;
  }
  .modal-default-button {
    float: right;
  }
  .modal-enter {
    opacity: 0;
  }
  .modal-leave-active {
    opacity: 0;
  }
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .modal-control {
    float: right;
  }
</style>
