<template>
  <div class="vueget-grid" :style="{width: width + '%'}">
    <!--{{sort}}-->
    <!--{{ rows }}-->
    <!--<br>-->
    <!--{{ selected }}-->

    <!-- Grid Options -->
    <div v-if="showOptions" class="vueget-grid-option">
      <h2 style="text-align: center">Options</h2>
      <hr>
      <select id="pageSizeSelect" v-model="pageSize">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <label for="pageSizeSelect">Page Size</label>

      <!-- Rounded switch -->
      <div style="width: 100%;">
        <label class="switch">
          <input id="toggleFilterable" type="checkbox" @click="filterable = !filterable" :checked="filterable">
          <div class="slider round"></div>
        </label> Filterable
      </div>

      <div style="width: 100%;">
        <label class="switch">
          <input id="toggleEditable" type="checkbox" @click="editable = !editable" :checked="editable">
          <div class="slider round"></div>
        </label> Editable
      </div>

      <div style="width: 100%;">
        <label class="switch">
          <input id="toggleDeletable" type="checkbox" @click="deletable = !deletable" :checked="deletable">
          <div class="slider round"></div>
        </label> Deletable
      </div>

      <div style="width: 100%;">
        <label class="switch">
          <input id="toggleSelectable" type="checkbox" @click="selectable = !selectable, selected = []" :checked="selectable">
          <div class="slider round"></div>
        </label> Selectable
      </div>

      <div style="width: 100%;">
        <label class="switch">
          <input id="toggleSortable" type="checkbox" @click="sortable = !sortable" :checked="sortable">
          <div class="slider round"></div>
        </label> Sortable
      </div>

      <div style="width: 100%;">
        <label class="switch">
          <input id="togglePagination" type="checkbox" @click="pagination = !pagination" :checked="pagination">
          <div class="slider round"></div>
        </label> Pagination
      </div>

      <div style="width: 100%;">
        <label class="switch">
          <input id="toggleColumnResizing" type="checkbox" @click="columnResizing = !columnResizing, didClickColumnResizing()" :checked="columnResizing">
          <div class="slider round"></div>
        </label> Column Resizing
      </div>

      <div style="width: 100%;">
        <label class="switch">
          <input id="toggleRowSelection" type="checkbox" @click="rowSelection = !rowSelection" :checked="rowSelection">
          <div class="slider round"></div>
        </label> Row Selection
      </div>

      <div style="width: 100%;">
        <label class="switch">
          <input id="toggleRowHighlight" type="checkbox" @click="rowHighlight = !rowHighlight" :checked="rowHighlight">
          <div class="slider round"></div>
        </label> Row Highlighting
      </div>

      <div style="width: 100%;">
        <label class="switch">
          <input id="toggleRowAlternating" type="checkbox" @click="rowAlternating = !rowAlternating" :checked="rowAlternating">
          <div class="slider round"></div>
        </label> Row Alternating
      </div>

      <div style="width: 100%;">
        <label class="switch">
          <input id="toggleShowIndex" type="checkbox" @click="showIndex = !showIndex" :checked="showIndex">
          <div class="slider round"></div>
        </label> Row Index
      </div>

      <div style="width: 100%;">
        <label class="switch">
          <input id="toggleGlobalSearch" type="checkbox" @click="globalSearch = !globalSearch" :checked="globalSearch">
          <div class="slider round"></div>
        </label> Global Search
      </div>

      <button style="width:100%; margin-top: 2em; padding: .5em;" @click="showOptions = false">close</button>
    </div>

    <!-- Modals -->
    <vueget-edit-modal v-if="promptEditModal" @close="promptEditModal=false" :columns="columns" :selected="selected"></vueget-edit-modal>
    <vueget-confirmation-modal v-if="promptConfirmationModal" @close="promptConfirmationModal=false" :selected="selected"></vueget-confirmation-modal>

    <div class="vueget-grid-searchbar" v-if="globalSearch || showOptionsMenu || paginationPosition === 'top' || selected.length > 0">
      <!-- Search Bar -->
      <input v-if="globalSearch" :style="{width: searchBarWidth}" type="search" placeholder="search">
      <button v-if="showOptionsMenu" @click="showOptions = !showOptions">opt</button>

      <!-- Grid Controls -->
      <div v-if="selected.length > 0" class="vueget-grid-control">
        <button @click="promptEditModal=true">edit</button>
        <button @click="promptConfirmationModal=true">delete</button>
        <button @click="selected=[]">clear</button>
      </div>

      <!-- Pagination Top -->
      <div v-if="paginationPosition === 'top'" class="vueget-grid-pagination">
        <ul>
          <li><a href="">first</a></li>
          <li><a href="">previous</a></li>
          <li v-for="page of pages"><a href="">{{page}}</a></li>
          <li><a href="">next</a></li>
          <li><a href="">last</a></li>
        </ul>
      </div>
    </div>

    <table>
      <thead>
        <!-- Column headers-->
        <tr class="vueget-column">
          <th class="nonajdustable-cell" v-if="selectable"><input type="checkbox" v-model="selectAll"></th>
          <th class="nonajdustable-cell" v-if="showIndex">#</th>
          <th class="resizable-column adjustable-cell" v-for="column of columns" @click="didClickSortBy(column)" :style="getCellStyle(column)">
            {{ column.label }} <span style="text-align:center; display:inline-block" :class="getSortOrder(column)"></span>
          </th>
          <th class="nonajdustable-cell" v-if="deletable || editable || rowCollapsible">options</th>
        </tr>

        <!-- Filterable column -->
        <tr v-if="filterable && rows.length > 0">
          <th class="nonajdustable-cell" v-if="selectable"></th>
          <th class="nonajdustable-cell" v-if="showIndex"></th>
          <th v-for="column of columns" class="vueget-filter-cell vueget-center adjustable-cell" :style="getCellStyle(column)">
            <template v-if="column.type.toLowerCase() === 'text'">
                <input type="text" :name="column.name" :placeholder="column.label">
            </template>

            <template v-else-if="column.type.toLowerCase() === 'date' && column.editable">
              <datepicker :placeholder="column.label"></datepicker>
            </template>

            <template v-else-if="column.type.toLowerCase() === 'number'">
              <input type="number" :name="column.name" :placeholder="column.label">
            </template>

            <template v-else-if="column.type.toLowerCase() === 'tel'">
              <input type="tel" :name="column.name" :placeholder="column.label">
            </template>

            <template v-else-if="column.type.toLowerCase() === 'email'">
              <input type="email" :name="column.name" :placeholder="column.label">
            </template>

            <template v-else-if="column.type.toLowerCase() === 'checkbox'">
              <input style="width:auto;" type="checkbox" :name="column.name">
            </template>
          </th>
          <th class="nonajdustable-cell" v-if="deletable || editable || rowCollapsible"></th>
        </tr>
      </thead>

      <!-- Data body -->
      <tbody class="vueget-data-body" :style="{height: height + 'px'}">
        <template :style="{height: height + 'px'}" v-if="rows.length > 0" v-for="(row,index) of parseInt(pageSize)">
          <tr @click="didSelectRow(index, rows[index], $event)" :class="getRowClass(index)">
            <template v-if="rows[index]">
              <td v-if="selectable" class="nonajdustable-cell vueget-center"><input type="checkbox" v-model="selected" :value="rows[index]"></td>
              <td v-if="showIndex" class="nonajdustable-cell">{{ index }}</td>

              <td class="adjustable-cell" v-for="(value, key, ind) of rows[index]" @click="didClickRow(index)" :style="getCellStyle(columns[ind], true)">
                <template v-if="editable && columns[ind].editable && editRow == index">
                    <datepicker v-if="columns[ind].type === 'date'"
                                class="vueget-row-cell-edit"
                                :name="key"
                                :value="new Date(rows[index][columns[ind].name])"
                                :format="dateFormat"></datepicker>
                    <input v-else-if="columns[ind].type === 'checkbox'"
                           class="vueget-row-cell-edit"
                           :name="key"
                           type="checkbox"
                           :checked="value"
                           :value="rows[index][columns[ind].name]">
                    <input v-else
                           class="vueget-row-cell-edit"
                           :name="key"
                           :type="columns[ind].type"
                           :value="rows[index][columns[ind].name]">
                </template>
                <template v-else-if="columns[ind].link"><a :href="rows[index][columns[ind].name]">{{ columns[ind].linkLabel }}</a></template>
                <template v-else>{{ normalize(columns[ind], rows[index][columns[ind].name]) }}</template>
              </td>

              <td v-if="deletable || editable || rowCollapsible" class="nonajdustable-cell vueget-center">
                <div style="display: inline-block">
                  <button v-if="rowCollapsible" @click="expandRow(index)">{{ expandedRow === index ? 'hide' : 'expand' }}</button>
                  <button v-if="editable" @click="didClickSave()">save</button>
                  <button v-if="deletable" @click="didDeleteRow(rows[index]), promptConfirmationModal=true">delete</button>
                </div>
              </td>
            </template>
          </tr>

          <tr v-if="rowCollapsible && expandedRow === index" style="background-color: aliceblue;">
            <td colspan="100" style="padding:2em">
              <div class="collapse-body" v-for="(value, key, ind) of rows[index]">
                <template v-if="editable && columns[ind].editable">
                  <strong>{{ key }}</strong>
                  <datepicker v-if="columns[ind].type === 'date'"
                              :name="key"
                              :value="new Date(rows[index][columns[ind].name])"
                              :format="dateFormat"></datepicker>
                  <input v-else-if="columns[ind].type === 'checkbox'"
                         :name="key"
                         type="checkbox"
                         :checked="value"
                         :value="rows[index][columns[ind].name]">
                  <input v-else
                         :name="key"
                         :type="columns[ind].type"
                         :value="rows[index][columns[ind].name]">
                </template>
                <template v-else-if="columns[ind].link">
                  <strong>{{key}}</strong>:
                  <a :href="rows[index][columns[ind].name]">
                     {{ columns[ind].linkLabel }}
                  </a>
                </template>
                <template v-else><strong>{{key}}</strong>: {{ normalize(columns[ind], rows[index][columns[ind].name]) }}</template>
              </div>
              <div v-if="deletable || editable" style="display: inline-block; margin-top:1em;">
                <button v-if="editable" @click="didClickSave()">save</button>
                <button v-if="deletable" @click="didDeleteRow(rows[index]), promptConfirmationModal=true">delete</button>
              </div>
            </td>
          </tr>

          <!-- Default Message -->
          <tr class="nonajdustable-cell" v-if="rows.length === 0"><td colspan="100" style="text-align: center">Nothing to display</td></tr>
        </template>
      </tbody>
    </table>


    <div v-if="paginationPosition === 'bottom'">
      <div class="results">Displaying Page {{page}} of {{pages}}</div>
      <div class="vueget-grid-pagination">
        <ul>
          <li><a href="">first</a></li>
          <li><a href="">previous</a></li>
          <li v-for="page of pages"><a href="">{{page}}</a></li>
          <li><a href="">next</a></li>
          <li><a href="">last</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import VuegetEditModal from './VuegetEditModal'
  import VuegetConfirmationModal from './VuegetConfirmationModal'
  import Datepicker from 'vuejs-datepicker' // https://www.npmjs.com/package/vuejs-datepicker

  export default {
    name: 'vueget-grid',
    components: {VuegetEditModal, VuegetConfirmationModal, Datepicker},

    data () {
      return {
        url: null,
        columns: [],
        rows: [],
        showOptionsMenu: false,
        showOptions: false,
        filterable: false,
        editable: false,
        deletable: false,
        selectable: false,
        sortable: false,
        pagination: false,
        grouping: false,
        rowSelection: false,
        rowReordering: false,
        rowHighlight: false,
        rowCollapsible: false,
        columnReordering: false,
        columnResizing: false,
        globalSearch: false,
        showIndex: false,
        rowAlternating: false,
        selected: [],
        sort: {},
        page: 0,
        pages: 10,
        pageSize: 10,
        paginationPosition: 'bottom',
        width: 100,
        height: 400,
        promptEditModal: false,
        promptConfirmationModal: false,
        editRow: null,
        previousExpandedRow: null,
        expandedRow: null,
        dateFormat: 'D MMM d yyyy'
      }
    },

    computed: {
      selectAll: {
        get: function () {
          return this.rows ? this.selected.length === this.rows.length : false
        },
        set: function (value) {
          let selected = []

          if (value) {
            this.rows.forEach(function (row) {
              selected.push(row)
            })
          }

          this.selected = selected
        }
      },
      searchBarWidth: function () {
        if (this.showOptionsMenu) {
          return '90%'
        }
        return '100%'
      }
    },

    methods: {
      normalize (data, value) {
        if (data.type === 'date') {
          return new Date(value).toDateString()
        }

        return value
      },

      expandRow (index) {
        if (this.expandedRow === index) {
          console.log(index)
          this.expandedRow = null
        } else {
          this.expandedRow = index
        }
      },

      didSelectRow (index, row, event) {
        if (this.selectable) {
          if (this.rowSelection) {
            if (this.selected.indexOf(row) > -1) {
              this.selected.splice(this.selected.indexOf(row), 1)
            } else {
              this.selected.push(row)
            }
          }
        }
      },

      didSelectAll () {
        this.selectAll = !this.selectAll
        this.selected = this.selectAll ? this.rows : []
      },

      didEditSelection (index, row, key, event, type) {
        if (type === 'date') {
          this.$set(row, key, new Date(event).getTime())
        } else {
          this.$set(row, key, event.target.value)
        }
      },

      didClickSave () {
        let inputs = document.querySelectorAll('.vueget-row-cell-edit')
        // console.log(inputs)

        for (let input of inputs) {
          if (input.className.indexOf('datepicker') > -1) {
            // console.log(input.firstChild.name)
            this.$set(this.rows[this.editRow], input.firstChild.name, new Date(input.firstChild.value).getTime())
          } else if (input.type === 'checkbox') {
            // console.log(input.name)
            this.$set(this.rows[this.editRow], input.name, input.checked)
          } else {
            // console.log(input.name)
            this.$set(this.rows[this.editRow], input.name, input.value)
          }
        }

        this.editRow = null
      },

      didClickRow (index) {
        this.editRow = index
      },

      didFilterSearch () {},

      didClickBatchEdit () {},

      didDeleteRow (row) { // todo server call to delete item
        if (this.selected.indexOf(row) < 0) {
          this.selected.push(row)
        }
      },

      didClickBatchDelete () {
        let tempItems = this.selected.slice(0, this.selected.length + 1)

        for (let item of tempItems) {
          if (this.rows.indexOf(item) > -1) {
            this.rows.splice(this.rows.indexOf(item), 1)
            this.selected.splice(this.selected.indexOf(item), 1)
          }
        }
      },

      didClickSortBy (column) {
        if (!this.sortable) {
          return
        }

        if (!this.sort[column.label]) {
          this.$set(this.sort, column.label, {})
        }

        if (this.sort[column.label].order === 'asc') {
          this.$set(this.sort[column.label], 'order', 'desc')
        } else if (this.sort[column.label].order === 'desc') {
          this.$set(this.sort[column.label], 'order', '')
        } else {
          this.$set(this.sort[column.label], 'order', 'asc')
        }
      },

      getSortOrder (column) {
        let arrow = ''

        if (!this.sortable) {
          return arrow
        }

        if (!this.sort[column.label]) {
          this.$set(this.sort, column.label, {})
          this.$set(this.sort[column.label], 'order', '')
        }
        if (this.sort[column.label].order === 'asc') {
          arrow = 'arrow-up'
        } else if (this.sort[column.label].order === 'desc') {
          arrow = 'arrow-down'
        } else {
          arrow = ''
        }

        return arrow
      },

      getRowClass (index) {
        let className = []
        if (index % 2 === 0 && this.rowAlternating) {
          className.push('vueget-row-alt')
        }
        if (this.rowHighlight) {
          className.push('vueget-row-highlight')
        }

        if (this.editRow === index && this.editable) {
          className.push('vueget-row-edit')
        }
        return className
      },

      getCellStyle (column, isRow) {
        let style = {
//          'maxWidth': (column.width ? column.width + 'px' : '120px'),
          'minWidth': (column.width ? column.width + 'px' : '120px'),
          'textAlign': (column.align && isRow ? column.align : 'center')
        }

        return style
      },

      didClickColumnResizing () {
        if (this.columnResizing) {
          let thElm
          // let tdElm todo modify all tds as well
          let startOffset

          Array.prototype.forEach.call(
            document.querySelectorAll('.resizable-column'),
            function (th) {
              let grip = document.createElement('span')
              grip.className = 'column-grip'
              grip.innerHTML = '&nbsp'
              grip.addEventListener('mousedown', function (e) {
                thElm = th
                startOffset = th.offsetWidth - e.pageX
              })

              th.appendChild(grip)
            }
          )

          document.addEventListener('mousemove', function (e) {
            if (thElm) {
              thElm.style.width = startOffset + e.pageX + 'px'
            }
          })

          document.addEventListener('mouseup', function () {
            thElm = undefined
          })
        } else {
          let elements = document.getElementsByClassName('column-grip')
          while (elements.length > 0) {
            elements[0].parentNode.removeChild(elements[0])
          }
        }
      },

      redrawGrid () {
        let table = document.getElementsByTagName('table')[0]
        let bodyCells = Array.from(table.getElementsByTagName('tbody')[0].getElementsByTagName('tr')[0].children)
        let thCols = Array.from(table.getElementsByTagName('thead')[0].getElementsByTagName('tr')[0].children)
        let colWidth = 0

        // Get the tbody columns width array
        colWidth = bodyCells.map(function (cell) {
          return cell.offsetWidth
        })

        // Set the width of thead columns
        thCols.forEach(function (element, index) {
          if (element.offsetWidth !== colWidth[index]) {
            element.style.width = (colWidth[index]) + 'px'
          }
        })
      },

      fetchData (url) {}
    },

    mounted: function () {
      if (this.columnResizing) {
        this.didClickColumnResizing()
      }

      window.addEventListener('resize', this.redrawGrid, true) // Trigger resize handler
      this.redrawGrid()
    }
  }
</script>

<style>
  .column-grip {
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    position: absolute;
    cursor: col-resize;
    /*background-color: #ddd;*/
    box-sizing: border-box;
  }
  .vueget-filter-cell .datepicker input,
  .vueget-data-body .datepicker input {
    padding: .3em;
    width: 100%;
  }

  .vueget-grid {
    cursor: default;
    font-family: Arial,serif;
    font-size: small;
    float:left;
    position: relative;
    /*width: 100%;*/
  }
  .vueget-grid-option {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 2em;
    position: absolute;
    right: 0;
    z-index: 9999;
    /*height:100%;*/
    /*box-sizing:border-box;*/
  }


  ::-webkit-scrollbar {display:none;}



  table {
    width: 100%; /* Optional */
    border-collapse: collapse;
    /*border-spacing: 0;*/
    border: 1px solid #ddd;
  }

  table tbody,
  table thead {
    display: block;
    width: 100%;
  }

  tr {
    width: 100%;
  }

  thead {
    background-color: #f1f1f1;
  }
  table tbody {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .nonajdustable-cell {
    word-wrap: break-word;
    min-width: 50px;
    /*max-width: 150px;*/
  }

  .adjustable-cell {
    word-wrap: break-word;
    /*min-width: 100px;*/
    /*max-width: 100px;*/
  }

  tbody td:last-child, thead th:last-child {
    border-right: none;
  }
  table .vueget-row-highlight:hover {
    background-color: aliceblue;
  }
  .vueget-column th:hover {
    cursor: pointer;
  }
  .vueget-column th {
    text-align: center;
    background-color: #e5e5e5 !important;
    position: relative;
    background-clip: padding-box;
  }
  .vueget-grid table .vueget-row-highlight:hover {
    background-color: aliceblue;
  }
  .vueget-row-alt {
    background-color: #fafafa
  }
  .vueget-grid table th {
    background-color: #fafafa;
  }
  .vueget-grid table th, .vueget-grid table td {
    border: 1px solid #ddd;
    padding: .5em;
  }

  .vueget-grid table td {
      width: 1%;
  }
  .vueget-row-edit {
    background-color: lightyellow;
  }



  .vueget-grid-searchbar {
    width: 100%;
  }
  .vueget-grid-control {
    margin: 1em 0 .5em 0;
  }
  .vueget-grid-control > button {
    box-sizing:border-box
  }
  .vueget-grid-searchbar > input[type=search] {
    width: 100%;
    padding: .5em;
    box-sizing:border-box;
  }
  .vueget-grid-searchbar > button {
    /*width: 9%;*/
    margin: 0;
    padding: .5em;
    box-sizing:border-box
  }
  .vueget-center {
    text-align: center;
  }
  .vueget-filter-cell > input {
    padding: .3em;
    margin: 0;
    box-sizing:border-box;
    width: 100%;
  }

  .collapse-body .datepicker input,
  .collapse-body input[type=text],
  .collapse-body input[type=date],
  .collapse-body input[type=tel],
  .collapse-body input[type=number],
  .collapse-body input[type=email] {
    display: block;
    width: 100%;
    text-align: left;
    padding: .5em;
  }

  input[type=checkbox] {
    width: auto;
  }

  .vueget-row-cell-edit {
    padding: .3em;
    margin: 0;
    width: 100%;
    /*height: 100%;*/
  }



  .vueget-grid-searchbar {
    width: 100%;
  }
  .vueget-grid-searchbar > button {
    /*width: 9%;*/
    margin: 0;
    padding: .5em;
    box-sizing:border-box
  }
  .vueget-grid-searchbar > input[type=search] {
    width: 100%;
    padding: .5em;
    box-sizing:border-box;
  }

  .vueget-grid-control {
    margin: 1em 0 .5em 0;
  }
  .vueget-grid-control > button {
    box-sizing:border-box
  }
  .vueget-center {
    text-align: center;
  }


  .results {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
  }

  .vueget-grid-pagination {
    /*border: 1px solid #eee;*/
    vertical-align: middle;
    display: inline-block;
    padding: .5em;
  }
  .vueget-grid-pagination > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .vueget-grid-pagination > ul li {
    display: inline;
    float:left;
    margin: 0 auto;
    padding: .5em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  .vueget-grid-pagination > ul li:first-child {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
  }
  .vueget-grid-pagination > ul li:last-child {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
  }
  .vueget-grid-pagination a {
    color: inherit;
    text-decoration: none;
  }
  .vueget-grid-pagination a:visited {
    color: inherit;
    text-decoration: none;
  }

  .vueget-grid .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }
  .vueget-grid .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }

  /* The switch - the box around the slider */
  .vueget-grid .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 14px;
  }

  /* Hide default HTML checkbox */
  .vueget-grid .switch input {display:none;}

  /* The slider */
  .vueget-grid .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .vueget-grid .slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .vueget-grid input:checked + .slider {
    background-color: #2196F3;
  }

  .vueget-grid input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  .vueget-grid input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  /* Rounded sliders */
  .vueget-grid .slider.round {
    border-radius: 34px;
  }

  .vueget-grid .slider.round:before {
    border-radius: 50%;
  }
</style>
