<template>
  <div id="app">
    <vueget-grid></vueget-grid>
  </div>
</template>

<script>
  import ExtensibleGrid from './components/ExtensibleGrid'

  export default {
    name: 'app',
    components: { 'vueget-grid': ExtensibleGrid }
  }
</script>

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  #app {
    width: 100%;
  }
</style>
